@page
@model IndexModel

@{
    ViewData["Title"] = "Bem-vindo!";
}

@{
    if (Model.Prm == 0) /*Login Form*/
    {
        Layout = "_Login";

        <form name="login-form" asp-page-handler="login" method="post" id="login-form">

            <div class="form-group mb-3">
                <label for="email-login">Email</label>
                <input id="email-login" name="email-login" type="email" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
            </div>
            @if (!string.IsNullOrEmpty(Model.ExceptionMessage))
            {<div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span>@Model.ExceptionMessage</span>
                </div>
            }
            <div class="form-group mb-3">
                <label for="psw-login">Palavra-passe</label>
                <input id="psw-login" name="psw-login" type="password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
            </div>
            <input name="prm_post" type="hidden" value="0" />
            <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Iniciar sessão</button>
            <div class="text-center d-flex justify-content-between mt-4">
                <p>
                    Ainda não está registado? <b><a href="Index?prm=1" class="text-muted">Criar conta.</a></b>
                </p>
            </div>
        </form>
    }

    if (Model.Prm == 1) /*Register Form*/
    {
        Layout = "_Login";

        <form name="register-form" asp-page-handler="register" method="post" id="register-form">

            <div class="form-group mb-3">
                <label for="fname">Nome</label>
                <input id="fname" name="fname" type="text" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
            </div>
            <div class="form-group mb-3">
                <label for="lname">Apelido</label>
                <input id="lname" name="lname" type="text" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
            </div>
            <div class="form-group mb-3">
                <label for="email-register">Email</label>
                <input id="email-register" name="email-register" type="email" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
            </div>
            <div class="form-group mb-3">
                <label for="library">Núcleo</label>
                <select id="library" name="library" class="form-control rounded-pil border-0 shadow-sm px-4">
                    @{
                        List<BibliotecaXPTO_Lib.Nucleo> nucleos = BibliotecaXPTO_Lib.Operations.ListaNucleos();

                        foreach (BibliotecaXPTO_Lib.Nucleo nucleo in nucleos)
                        {
                            <option value="@nucleo.Id">@nucleo.City</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="psw-register">Palavra-passe</label>
                <input id="psw-register" name="psw-register" type="password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
            </div>
            <div class="form-group mb-3">
                <label for="psw-repeat">Confirme a palavra-passe</label>
                <input id="psw-repeat" name="psw-repeat" type="password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
            </div>
            @if (!string.IsNullOrEmpty(Model.ExceptionMessage))
            {<div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span>@Model.ExceptionMessage</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.SuccessMessage))
            {<div class="alert alert-success">

                    <span>@Model.SuccessMessage<a href="Index" class="alert-link">Inicie a sessão na sua conta.</a></span>
                </div>
            }
            <input name="prm_post" type="hidden" value="1" />
            <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Criar conta</button>
            <div class="text-center d-flex justify-content-between mt-4">
                <p>
                    Já tem uma conta? <b><a href="Index" class="text-muted">Inicie sessão.</a></b>
                </p>
            </div>
        </form>
    }
}